.__bannerContainer{
  display: flex;
    .__bannerSwiper{
        .swiperSlide{
            background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding:1em 0;

            .__bannerContent{
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                >div{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 49%;
                    &:first-of-type{
                        gap: 0.5em;
                        h2{
                            font-size: 1.7em;
                            font-weight: 600;
                            color: white;
                        }
                        p{
                            font-size: 1.4em;
                            color: #f4f4f4;
                            line-height: 1.1;
                            letter-spacing: 0.1em;
                        }
                        button{
                            margin-top: 1.5em;
                            padding: 0.3em 0.5em;
                            border-radius: 0.9em;
                            font-size: 1.1em;
                            background: #22c7ff;
                            font-weight: 500;
                            box-shadow: 0px 0px 2px 1px #1ec6ff;
                            a{
                                text-decoration: none;
                                color: white;
                            }
                        }
                    }
                    &:last-of-type{
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}
.__bannerWithoutSwiperConatainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    .contentContainer {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1em;
      h1 {
        font-size: 2.5em;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
      }
      h2 {
        font-weight: 600;
        font-size: 1.1em;
      }
      p {
        line-height: 1.3;
        /* margin-bottom: 12px; */
        text-align: justify;
        font-family: "Lora";
        font-weight: 500;
      }
      .__btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
          padding: 0.3em 0.5em;
          transition: all ease-in-out 1s;
          font-size: 1em;
          font-weight: 600;
  
          &:hover {
            border-color: hwb(0 50% 50% / 0.303);
            color: rgb(202, 37, 37);
            background-color: hwb(0 50% 50% / 0.122);
            transition: all ease-in-out 1s;
          }
  
          button {
          }
        }
      }
    }
    .imageContainer {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        width: 70%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  @media screen and (max-width:1024px) {
    
  }
  @media screen and (max-width:968px) {
    .__bannerContainer{
      display: flex;
        .__bannerSwiper{
            .swiperSlide{
                .__bannerContent{
                    width: 90%;
                    >div{
                        &:first-of-type{
                            h2{
                            }
                            p{
                            }
                            button{
                                a{
                                }
                            }
                        }
                        &:last-of-type{
                        }
                    }
                }
            }
        }
    }
  }
  @media screen and (max-width:768px) {
    .__bannerContainer{
        .__bannerSwiper{
            .swiperSlide{
              .__bannerContent{
                  display: flex;
                  flex-direction: column-reverse;
                    width: 90%;
                    >div{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        width: 100%;
                        &:first-of-type{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            h2{
                            }
                            p{
                            }
                            button{
                              width: 48%;
                                a{
                                }
                            }
                        }
                        &:last-of-type{
                        }
                    }
                }
            }
        }
    }
  }
  @media screen and (max-width:480px) {
    
  }
  @media screen and (max-width:320px) {
    
  }