.__header {
  display: flex;
  flex-direction: column;
  position: sticky;
  z-index: 100;
  top: 0;
  > div {
    &:last-of-type {
      padding: 0.5em 2%;
    }
  }
}

.PreHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;
  padding: 0.5em 0em;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }
  &__contactInfo,
  &__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;
    &__icon {
      font-size: 1.2em;
      color: #485058;
    }
    &__content {
      a {
        font-size: 0.85em;
        letter-spacing: 0.01em;
        color: #1e1e1e;
      }
    }
  }
}
.PostHeader {
  display: flex;
  align-items: center;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  justify-content: space-between;

  &__logo {
    svg {
      height: 3em;
      width: 100%;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5em;

    &__link {
      position: relative;
      cursor: pointer;
      transition: border-bottom-color 0.3s ease;

      &:hover {
        border-bottom: 2px solid #303841;
      }

      a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        font-size: 1rem;
        transition: color 0.3s ease;

        &:hover {
          color: #303841;
        }
      }

      .__moreLinks {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        .subMenu{
          display: flex;
          flex-direction: column;
          position: relative;
          min-width: 10em;
          align-items: baseline;
          .__subMenu{
            position: absolute;
            right: 0;
            display: none;
            position: absolute;
            /* right: 0; */
            top: 0;
            transform: translate(105%, 20%);
            background: white;
          }
        }
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            &:last-child {
              margin-bottom: 0;
            }

            a {
              color: #303841;
              font-size: 0.9rem;
              text-decoration: none;
              transition: color 0.3s ease;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              width: 100%;

              &:hover {
                color: #007bff;
              }
            }
          }
        }
      }

      &:hover .__moreLinks {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__links__button {
    display: flex;
    border-radius: 1em;
    padding: 0.3em 0.5em;
    font-weight: 500;
    color: #364c53;
    box-shadow: 0px 0px 3px 2px #364c53;
    transition: ease-in-out 1s;

    &:hover {
      transition: ease-in-out 2s;
      box-shadow: inset 0px 0px 3px 2px #364c53;
    }

    button {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      color: inherit;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: #303841;
      }
    }
  }
}


.PostHeader,
.PreHeader {
  padding: 0.5em 1.2em;
}
.__linkActive {
  border-bottom: 2px solid red;
  border-radius: 0.2em;
}
// mobile Navigation
.__mobileHeader {
  display: none;
 
  position: sticky;
  top: 0;
  z-index: 99;
  .__hamburgerNav__container {
    background-color: red;

    &__button {
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 0.4em 1em;
      position: sticky;
      top: 0;
      span{
        svg{
          width: 9em;
          height: 100%;
          font-size: 1em;
        }
      }
      button{
       svg{
        font-size: 1.6em;
       }
      }
    }
    .__drawer {
      // list 
      width: 80%;
    }
    
  }
}
.__hamburgerNav{
  display: flex;
  flex-direction: row;
  &__list{ 
    min-width: 20em;
    &__item{

      &__logo{
        display: flex;
        justify-content: space-between;
        width: 100%;
        div{
          display: flex;
          svg{
            width: 1.5em;
            height: 100%;
          }
          &:first-of-type{
            svg{
              width: 10em;
            }
          }
        }
        >button{
        }
      }
      &__button{
        display: flex;
        flex-direction: row;
        &__icon{
          width: fit-content;
          width: -moz-fit-content;
          min-width: 2em;
        }
        &__text{
          width: 100%;
        }
        >svg{

        }
      }

    }
  }

}
@media screen and (max-width: 968px) {
  .__header {
    display: none;
  }
  .__mobileHeader{
    display: block;
  }
  .__hamburgerNav{
    
    &__list{ 
      min-width: 25em;
    }
  
  }
}
@media screen and (max-width: 768px) {
  .__hamburgerNav{
    
    &__list{ 
      min-width: 20em;
    }
  
  }
}
@media screen and (max-width: 320px) {
  .__hamburgerNav{
    
    &__list{ 
      min-width: 20em;
    }
  
  }
}
