.PostHeader{
    display: flex;
    align-items: center;
    background-color: aqua;
    &__logo{
        svg{
            font-size: 1.2em;

        }
    }
    &__links{
        display: flex;

        &__link{
            a{

            }
        }
    }
}